* {
  padding: 0;
  margin: 0;
}

*::first-letter {
  text-transform: uppercase;
}

.header, .content, .footer {
  width: 960px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu {
  list-style-type: none;
}

.menu_button {
  display: inline-block;
  float: left;
  margin-bottom: 10px;
}

.menu_button a {
  display: block;
  min-width: 160px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #111111;
  text-decoration: none;
}

.menu_button:hover a {
  background: #414141;
}

.category a, .subcategory a{
  display: block;
  float: left;
  margin: 20px;
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  background: #111111;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
}

.subtitle {
  width: 960px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-transform: uppercase;
  text-align: center;
}

.productBySub a, .subcategoryByCat a {
  display: block;
  float: left;
  margin: 20px;
  width: 150px;
  height: 150px;
  text-align: center;
  background: #111111;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
}

.allProducts a {
  display: block;
  float: left;
  margin: 20px;
  width: 150px;
  min-height: 200px;
  text-align: center;
  background: #111111;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
}

.productName, .subcategoryName {
  padding-top: 40px;
  padding-bottom: 50px;
}

.productPrice, .subOfProd {
  padding-bottom: 10px;
}

.soloProduct {
  padding-top: 100px;
  margin-bottom: 10px;
  margin-left: 50px;
}

.soloProductName {
  margin-bottom: 50px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: bold;
}

.soloProductPrice, .reviewTitle, .prodOfWishName, .prodOfBaskName, .orderedProductName {
  margin-bottom: 30px;
  font-weight: bold;
}

.soloProductDescription {
  margin-bottom: 100px;
}

.addToWishLink a, .addToBasket a, .addReviewToProd a, .checkOut a {
  display: block;
  float: left;
  margin: 10px;
  width: 150px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: #111111;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
}

.reviewsLink {
  margin-top: 250px;
}

.reviewsLink a {
  display: block;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  background: #4CAF50;
  line-height: 40px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.reviewsLink:hover a, .returnToProduct:hover a, .returnToOrders:hover a {
  background: #45a049;
}

.category:hover a, .subcategory:hover a, .productBySub:hover a, .subcategoryByCat:hover a,
.allProducts a:hover, .addToWishLink a:hover, .addToBasket a:hover, .addReviewToProd a:hover,
.checkOut a:hover{
  background: #515151;
}

.returnToProduct a{
  display: block;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 15px;
  background: #4CAF50;
  line-height: 40px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.review{
  margin-bottom: 10px;
  padding: 20px;
  background: #ebffd9;
}

.addReviewMenu, .addToWishMenu, .letInto, .addToBasketMenu{
  padding-top: 100px;
  padding-left: 20px;
}

.singleWish, .singleBask{
  margin-bottom: 35px;
  padding-left: 20px;
}

.addReviewMenu input[type=text], .addOrderAddress input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.letInto input[type=number], .wishlistByUser input[type=number], .addToWishMenu input[type=number],
.addToBasketMenu input[type=number], .basketByUser input[type=number]{
  min-width: 80px;
  width: 10%;
  padding: 12px 15px;
  margin: 8px 30px 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.addReviewMenu textarea{
  width: 100%;
  height: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

/* Style the submit button */
input[type=submit], .letInto button, .addToWishMenu button, .addToBasketMenu button {
  min-width: 90px;
  width: 15%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 3px 3px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addOrderAddress button{
  min-width: 200px;
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.wishlistByUser input[type=submit], .basketByUser input[type=submit]{
  min-width: 90px;
  width: 14%;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover, .letInto button:hover, .addToWishMenu button:hover, .addToBasketMenu button:hover,
.addOrderAddress button:hover {
  background-color: #45a049;
}

.priceSum, .orderProducts{
  margin-top: 60px;
  margin-bottom: 10px;
}

.hereSum{
  padding-right: 150px;
  font-weight: bold;
}

.finalPrice{
  margin: 20px;
  padding: 1px;
  border: 1px solid #FF1111;
  font-size: 20px;
}

.order{
  padding-left: 20px;
}

.singleProd, .singleOrder{
  margin: 35px 0;
  padding-left: 20px;
}

.returnToOrders a{
  display: block;
  width: 200px;
  height: 40px;
  margin-top: 20px;
  border-radius: 15px;
  background: #4CAF50;
  line-height: 40px;
  text-align: center;
  color: white;
  text-decoration: none;
}